@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.experience {
    @include flex-center(column, flex-start, stretch);
    gap: 1.25rem;
    text-align: center;
    width: 100%;

    &__card {
        @include glass-card;
        text-align: start;
        gap: 1rem;
    }

    &__header {
        @include flex-center(column, flex-start, flex-start);
        // gap: 1rem;
        position: relative;

        @include tablet {
            padding-right: 12rem;
        }
    }

    &__date {
        background-color: black;
        display: inline-block;
        padding: 0.5rem;
        margin: 1rem 0;
        width: fit-content;

        @include tablet {
            position: absolute;
            width: auto;
            margin: 0;
            top: 0;
            right: 0%;
        }
    }

    &__list {
        @include flex-center(column, flex-start, flex-start);
        gap: 0.5rem;
    }

    &__section {
        margin-top: 1rem;
    }

    &__item {
        @include flex-center(row, flex-start, flex-start);
        gap: 1rem;
    }

    &__text {
        width: 80%;
    }
}
